<div class="actions">
    <div id="action-balance" class="btn-group btn-group-devided" data-toggle="buttons">
        <label id="hour" class="btn btn-transparent {{ portlet.font_color }} btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle">逐小时/天</label>
        <label id="dow" class="btn btn-transparent {{ portlet.font_color }} btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle">逐日/周</label>
        <label id="day" class="btn btn-transparent {{ portlet.font_color }} btn-outline btn-circle btn-sm active">
            <input type="radio" name="options" class="toggle">逐日/月</label>
        <label id="month" class="btn btn-transparent {{ portlet.font_color }} btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle">逐月/年</label>
    </div>
    <div id="action-balance-type" class="btn-group btn-group-circle" data-toggle="buttons">
        <label id="absolute" class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm active">
            <input type="radio" name="options" class="toggle">绝对</label>
        <label id="relative" class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle">相对</label>
    </div>
</div>