<div class="actions">
    <div class="btn-toolbar margin-bottom-10">
        <div id="sort-order" class="btn-group btn-group-circle" data-toggle="buttons" style="display: none">
            <label id="sort-asc" class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle">顺序</label>
            <label id="sort-desc" class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle">逆序</label>
        </div>
        <div class="btn-group pull-right" style="display: none">
            <a id="sort-select" href="" class="btn btn-circle blue-steel btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 选择排名
                <span class="fa fa-angle-down"> </span>
            </a>
            <ul id="sort-select-info" class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:;" id="sort-data-count"> 数据量 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-field"> 字段量 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-spider-count"> 爬虫数 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-time"> 耗时 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-add"> 新增 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-update"> 更新 </a>
                </li>
                <li>
                    <a href="javascript:;" id="sort-error"> 错误 </a>
                </li>
            </ul>
        </div>
    </div>
</div>