<div class="actions">
    <div class="btn-toolbar margin-bottom-10">
        <div class="btn-group pull-right display-none">
            <a href="" class="btn btn-circle blue-steel btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 选择排名
                <span class="fa fa-angle-down"> </span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:;" id="regional_stat_world"> 数据量 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_usa"> 字段量 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_europe"> 爬虫数 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_russia"> 耗时 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_germany"> 新增 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_germany"> 更新 </a>
                </li>
                <li>
                    <a href="javascript:;" id="regional_stat_germany"> 错误 </a>
                </li>
            </ul>
        </div>
    </div>
</div>