<div class="actions">
    <div id="action-trend" class="btn-group btn-group-devided" data-toggle="buttons">
        <label id="day" class="btn btn-transparent green btn-outline btn-circle btn-sm active">
            <input type="radio" name="options" class="toggle" id="option1" >每日</label>
        <label id="week" class="btn btn-transparent green btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle" id="option2">星期</label>
        <label id="month" class="btn btn-transparent green btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle" id="option3">月份</label>
        <label id="year" class="btn btn-transparent green btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle" id="option4">年份</label>
    </div>
</div>