<div class="actions">
    <div class="btn-group btn-group-devided" data-toggle="buttons">
        <label class="btn btn-transparent green btn-outline btn-circle btn-sm active">
            <input type="radio" name="options" class="toggle" id="option1">Today</label>
        <label class="btn btn-transparent green btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle" id="option2">Week</label>
        <label class="btn btn-transparent green btn-outline btn-circle btn-sm">
            <input type="radio" name="options" class="toggle" id="option2">Month</label>
    </div>
</div>